@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

#app {
  max-width: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
